/* Kanchwala, Husain    Account:  jadrn024
 CS545, Fall 2017
 Project 4
*/


.ui-menu { width: 200px; }
.ui-widget-header { padding: 0.2em; }

.error {
  color: #FF0000;
}

._left {
    width:80%;
    height:200px;
    float:left;
    background:white;
}

._left table{
  width: 100%;
}

._left table tr td{
  text-align: center;
}

._right {
    width:16%;
    height:200px;
    float:right;
    padding: 25px 20px 0 25px;
    background:white;
}

._right div{
  width: 100%;
  padding: 5px;
  clear: both;
}

._right div span a button{
  width: 100%;
}

._right div span button{
  width: 100%;
}

.widget{
  width:1100px !important;
}

.divider{
    position:right;
    border-left:1px solid #ccc;
}

/*.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #deedf7;
}
*/
._button { 
    float: left;
    padding: 5px 15px;
    text-shadow: 0px 1px 0 rgba(0,0,0,0.25);    
    border: 1px solid #000000;
    border-radius: 5px;
}

._button:hover {
    border: 1px solid rgba(256,256,256,0.75);   
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}


._button:hover {
    border: 1px solid rgba(256,256,256,0.75);   
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.cbutton { 
    padding: 5px 15px;
    text-shadow: 0px 1px 0 rgba(0,0,0,0.25);    
    border: 1px solid #000000;
    border-radius: 5px;
}

.cbutton:hover {
    border: 1px solid rgba(256,256,256,0.75);   
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}


.cbutton:hover {
    border: 1px solid rgba(256,256,256,0.75);   
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}


.select {
   border: 1px solid #ccc;
   font-size: 12px;
   height: 24px;
   width: 150px;
}

.selecte {
   border: 1px solid #FF0000;
   font-size: 12px;
   height: 24px;
   width: 150px;
}


.box{
   border: 1px solid #ccc;
   font-size: 12px;
   height: 80px;
   width: 150px; 
}

.inp {
   border: 1px solid #ccc;
   font-size: 12px;
   height: 24px;
   width: 150px;
}

.boxe{
   border: 1px solid #FF0000;
   font-size: 12px;
   height: 80px;
   width: 150px; 
}

.inpe {
   border: 1px solid #FF0000;
   font-size: 12px;
   height: 24px;
   width: 150px;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
}


.widget{
  width:1100px !important;
}

.divider{
    position:right;
    border-left:1px solid #ccc;
}

.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #deedf7;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

ul.tab li {float: left;}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.tab li a:hover {background-color: #ddd;}

ul.tab li a:focus, .active {background-color: #ccc;}

.wrapper .header {
  padding: 40px 30px 30px 30px;
}

.wrapper .header h1 {
  font-family: 'Bree Serif', serif;
  font-weight: 300;
  font-size: 28px;
  line-height:34px;
  color: #414848;
  text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
  margin-bottom: 10px;
}

.wrapper {
  margin: 30px auto;
  margin-left: 20px;
  width: 1200px;
  position: static;
  background: #f3f3f3;
  border: 1px solid #fff;
  border-radius: 5px;
}

.wrapper .content .image {
  padding: 0 30px 25px 30px;
}

.wrapper .content {
  padding: 0 30px 25px 30px;
}
